
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
    <h2>Edit User</h2>
    <form th:action="@{'/users/update/' + ${user.id}}" th:object="${user}" method="post">
        <label>Username:</label>
        <input type="text" th:field="*{username}" required/><br/>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required/><br/>
        <label>Email:</label>
        <input type="email" th:field="*{email}" required/><br/>
        <label>Role:</label>
        <input type="text" th:field="*{role}" required/><br/>
        <button type="submit">Update</button>
    </form>
    <a th:href="@{/users/list}">Back to User List</a>
</body>
</html>
